# Ignore node_modules folder
node_modules/

# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore system files
.DS_Store
Thumbs.db

# viz stuff
viz/testing

# data
data/output_data
data/field_crops.db
data/testing.ipynb

.python-version
